.bar {
    background-image: url(..//image/photo-back-ground.jpeg);
    min-height: 500px;
    background-size: cover;
   
}
#cream {
    grid-area : cream;
}
#lip {
    grid-area : lip;
}
#hair {
    grid-area : hair;
}
#gridbox1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "cream lip hair";
    gap: 30px;
}
/*.card {
    flex-direction: row;
}*/
#gridbox2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: ";
    gap: 30px;